# link to /etc/systemd/system/mqtt-energymeter-aggregator.service

[Unit]
Description=MQTT EnergyMeter Aggregator.js Service
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/zotac-tools/mqtt-energymeter-aggregator.js
WorkingDirectory=/opt/zotac-tools
Restart=always
User=zotac-tools
Group=zotac-tools
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
